@import "src/styles/variables";

.detailScreen {
  &__cover {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }

  &__header {
    background-color: $primary;
    width: 50%;
    height: auto;

    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 0 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    &__title,
    &__subheading {
      color: #fff;
      text-align: right;
      text-shadow: 1px 1px #fff;
    }
  }

  &__information {
    padding: $spacer;
    border: 1px solid red;
  }
}
