// Variables

// Colors

$primary: #00897b;
$secondary: #e91e63;
$success: #fff;
$info: #fff;
$warning: #fff;
$danger: #f44336;
$light: #fff;
$dark: #fff;

// Spacer

$spacer: 10px;

$font-weight-bold: 600;

$border-radius: 15px;
