// Variables

// Colors

$primary:       #fff ;
$secondary:     #fff ;
$success:       #fff ;  
$info:          #fff ; 
$warning:       #fff ;  
$danger:        #fff ;
$light:         #fff ;  
$dark:          #fff ;  

// Spacer

$spacer: 10px;

