@import "src/styles/variables";

.plantCard {
  flex-basis: 45%;
  margin-right: 10px;
  position: relative;
  margin: 0 auto calc($spacer * 2);

  &__image {
    justify-self: center;
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: auto;
    padding-top: 100%;

    overflow: hidden;
    border-radius: $border-radius;
  }

  &__water {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    background-color: turquoise;
  }
}
